 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      h2{
		  color: white;
		  text-align: center;
	  }
	  h3{
		  color: #EFDECD;
		  text-align: center;
	  }
	  #map {
        height: 80%;
		
      }
      /* Optional: Makes the sample page fill the window. */
	   #navbar{
  text-align: center;
  
  border: 1px inset gray;
  background-color: rgb(51, 51, 51);
  margin: auto;
  width: 80vw;
  font-size: 2vw;
  }
  a:link {
		color:#00bfff;
		}
	a:visited{
		color:blue;
		}
	a.hover{
		background:#f88396;
		color:gray;
		}
      html, body {
		   
		background-image: url(images/CatFill.jpg);
        height: 870px;
        margin: 0;
        padding: 0;
		
      }
      #floating-panel {
        position: absolute;
		height: 10%;
        
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
		
      }
      #right-panel {
        font-family: 'Roboto','sans-serif';
		
        line-height: 30px;
        padding-left: 10px;
		
		background-color:#A9A9A9;
		
		
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
		color:white;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
		
      }
      #right-panel {
        height: 80%;
        float: right;
        width: 390px;
        overflow: auto;
		margin-right:10px;
      }
      #map {
        margin-right: 400px;
		margin-left:10px;
      }
      #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }
      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }