body{
	  background-image: url(images/CatFill.jpg);
	  text-align: center;
	  margin: auto;
	  color: white;
	  font-family: Verdana;
 }
  
  
  #navbar{
  text-align: center;
  border: 1px inset gray;
  background-color: rgb(51, 51, 51);
  margin: auto;
  width: 80vw;
  font-size: 2vw;
  }
  

#intro{
	font-size:5vw;
}


a:link{
color: white;
}
 
 a:visited {
    color: white;
}

a:hover {
    color: gray;
}
  
  
 .header{
	 background-color: gray;
	 border: 15px outset black;
	 padding: 30px;
	 background-image: url(images/catheadfill.jpg);
	 font-family: Georgia;
	 font-size: 230%;
	 color: black;
	 overflow: auto;
	 text-align: right;
 }
 
 img{
	width: 30vw;
	margin: auto;
	border: 5px inset silver;
	float: left;
 }
 
 td {
	 border: 2px inset black;
	 background-color:rgb(89, 89, 89);
 } 
 
 th{
	 border: 5px inset black;
	 background-color: rgb(51, 51, 51); 
 }
 
 table{
	 margin: auto;
	 background-color: gray;
 }
 
 .Register{
	 background-color: rgb(89, 89, 89);
	 border: 2px inset black;
	 margin-left: 500px;
	 margin-right: 500px;
	 margin-bottom: 20px;
 }
 
 .addClass{
	background-color: rgb(89, 89, 89);
	 border: 2px inset black;
	 padding-top: 5px;
	 padding-bottom: 5px;
	margin: auto;
	width: 1000px;
 }
 
 